*.gradle
/DatabaseBusinessSlagelse/local.properties
/DatabaseBusinessSlagelse/.idea/workspace.xml
/DatabaseBusinessSlagelse/.idea/libraries
/DatabaseBusinessSlagelse/build/*
/DatabaseBusinessSlagelse/app/*
*.apk