.gradle
/DatabaseBusinessSlagelse/local.properties
/DatabaseBusinessSlagelse/.idea/workspace.xml
/DatabaseBusinessSlagelse/.idea/libraries
.DS_Store
/DatabaseBusinessSlagelse/build
/DatabaseBusinessSlagelse/app